@charset "UTF-8";

/****** Task Page Structure *******/

#container {
  background: url(image-path('bg-blueside.gif')) repeat-y;
  margin: 0 auto;
  width: 960px;
}

#container-top {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #ecf0f1;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  clear: both;
  height: 60px;
  width: 940px;
  padding: 15px 0 5px 20px;
  background: url(image-path('progress-bar.png')) no-repeat right;
  background-color: #ecf0f1;
}

// main content
#main-content {
  width: 100%;
  min-height: 635px;
  margin: 0;
  padding: 20px 20px;
  background-size: 100%;
  width: 600px;
  margin-left: 320px;
}

.default-bg{
  background-color: #95a5a6;
}

.mountain-bg{
  background: url(image-path('mountain.png')) no-repeat;
  background-color:#84b083;
}

.taskpage{
  margin: 0;
  padding: 0;
}

.taskpage .overview{
  background-color: #2c3f4e;
  border-radius: 8px;
  padding: 5px 20px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: normal;
}

.taskpage .overview h2{
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

// Sidebar content
#sidenav {
  width: 320px;
  background: #2c3e50;
  min-height: 640px;
  float: left;
}

#sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#flag {
  width: 127px;
  height: 32px;
  float: right;
  background: url(image-path('days-left-flag.png')) no-repeat right center;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 6px 0 0 30px;
  margin-top: 6px;
  position: relative;
  z-index: 2;
}

#progress-bar-main{
  width: 0;
  height: 38px;
  background-color: #f39b3a;
  border-radius: 999px;
  position: absolute;
  margin: 0; padding: 0;
  margin-top:6px;
  margin-left:327px;
  left:0;
  z-index: 1;
}

/****** Main Task List Styles ******/

li.cats {
  color: #fff;
  font-weight: bold;
  position: relative;
}

.cat-button{
  font-size: 1.6em;
  letter-spacing: 1px;
  background: #34495e;
  border: 2px solid #2c3e50;
  height: 60px;
  padding: 15px 0px 0px 20px;
  display: block;
}

.cat-button.select{
  background: #2c3f4e;
}

ul.dotted li {
  list-style: none;
  color: #2c3e50;
  float: left;
  width: 47px;
  height: 30px;
  padding: 10px 0 0 0;
  margin: 0;
  font-size: 1.4em;
  background-image: url(image-path('badge-off.png')) middle no-repeat;
}

.dotted .select{
  color: #33495e;
}

.dotted .complete{
  color: #f39b3a;
}

.badge-incomplete {
  position: absolute;
  right: 13px;
  top: 8px;
}

/****** Sub Task List Styles ******/

.subtasks{
  background-color: #15bc9d;
  margin-left: 2px !important;
  display: block;
}
.subtask{
  position: relative;
  color: #15bc9d;
  font-size: 1.3em;
  letter-spacing: 1px;
  background: #34495e;
  border: 1px solid #2c3e50;
  border-left: 3px solid #2c3e50;
  padding: 10px 0 10px 5px;
  display: block;
  margin-left: 7px;
}

.subtask span{

}

.subtask strong{
  text-align: center;
  font-size: 1.3em;
  border-radius: 999px;
  line-height: 1.2em;
  width: 1.2em;
  height: 1.2em;
  margin-right: 10px;
  margin-top: -.15em;
  background-color: #2c3f4e;
  display: inline-block;
}

.subtask.select{
  color: #fff;
  background-color: #f39b3a;
}

.subtask .sub-badge{
  position: absolute;
  right:20px;
  top:50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
}

.subtask .incomplete{
  background: url(image-path('badges/subtask/incomplete.png'));
}

.subtask .complete{
  background: url(image-path('badges/subtask/complete.png'));
}

.subtask .complete.select{
  background: url(image-path('badges/subtask/complete-select.png'));
}

/****** Text Elements ******/

#index h1 {
  float: left;
  width: 160px;
  font-size: 2.6em;
  margin: 15px 20px 0 0;
  display: inline;
}

#deadline h1 {
  font-size: 2.8em;
}

#deadline h2 {
  margin-bottom: 20px;
  line-height: 0.8em;
}

#container-top h1 {
  font-size: 3em;
  width: 700px;
  float: left;
}

//
#container-top h2 {
  font-size: 2.2em;
  text-align: center;
}

p.quote {
  font-size: 1.7em;
  font-style: italic;
  color: #6e7780;
  padding: 0 15px;
  margin: 0px;
}

p.quote-attribute {
  font-size: 1.3em;
  color: #6e7780;
  padding: 20px;
}