<!DOCTYPE html>
<html lang="en">
<head>
<title>Kix</title>
</head>

<body>

	<form>
		<textarea cols="40" rows="5" name="story_long" id="story_long"></textarea>
		<input type="checkbox" name="complete_story_long" id="complete_story_long" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_story_long">
		<br />
		<textarea cols="40" rows="5" name="story_email" id="story_email"></textarea>
		<input type="checkbox" name="complete_story_long" id="complete_story_long" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_story_email">
		<br />
		<textarea cols="40" rows="5" name="story_edit_content" id="story_edit_content"></textarea>
		<input type="checkbox" name="complete_story_edit_content" id="complete_story_edit_content" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_story_edit_content">
		<br />
		<textarea cols="40" rows="5" name="story_perspective" id="story_perspective"></textarea>
		<input type="checkbox" name="complete_story_perspective" id="complete_story_perspective" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_story_perspective">
	</form>

</body>
</html>