<!DOCTYPE html>
<html lang="en">
<head>
<title>Kix</title>
</head>

<body>

	<form>
		<textarea cols="40" rows="5" name="fin_goal" id="fin_goal"></textarea>
		<input type="checkbox" name="complete_fin_goal" id="complete_fin_goal" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_fin_goal">
		<br />
		<textarea cols="40" rows="5" name="fin_rewards" id="fin_rewards"></textarea>
		<input type="checkbox" name="complete_fin_rewards" id="complete_fin_rewards" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_fin_rewards">
		<br />
		<textarea cols="40" rows="5" name="fin_fulfill" id="fin_fulfill"></textarea>
		<input type="checkbox" name="complete_fin_fulfill" id="complete_fin_fulfill" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_fin_fulfill">
		<br />
		<textarea cols="40" rows="5" name="fin_stretch_goals" id="fin_stretch_goals"></textarea>
		<input type="checkbox" name="complete_stretch_goals" id="complete_stretch_goals" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_stretch_goals">
		<br />
		<textarea cols="40" rows="5" name="fin_math" id="fin_math"></textarea>
		<input type="checkbox" name="complete_fin_math" id="complete_fin_math" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_fin_math">
	</form>

</body>
</html>