<!DOCTYPE html>
<html lang="en">
<head>
<title>Kix</title>
</head>

<body>

	<form>
		<textarea cols="40" rows="5" name="net_website" id="net_website"></textarea>
		<input type="checkbox" name="complete_net_website" id="complete_net_website" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_net_website">
		<br />
		<textarea cols="40" rows="5" name="net_friends" id="net_friends"></textarea>
		<input type="checkbox" name="complete_net_friends" id="complete_net_friends" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_net_friendss">
		<br />
		<textarea cols="40" rows="5" name="net_social_media" id="net_social_media"></textarea>
		<input type="checkbox" name="complete_net_social_media" id="complete_net_social_media" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_net_social_media">
		<br />
		<textarea cols="40" rows="5" name="net_blog" id="net_blog"></textarea>
		<input type="checkbox" name="complete_net_blog" id="complete_net_blog" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_net_blog">
		<br />
		<textarea cols="40" rows="5" name="net_events" id="net_events"></textarea>
		<input type="checkbox" name="complete_net_events" id="complete_net_events" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_net_events">
	</form>

</body>
</html>