<!DOCTYPE html>
<html lang="en">
<head>
<title>Kix</title>
</head>

<body>

	<form>
		<textarea cols="40" rows="5" name="video_videographer" id="video_videographer"></textarea>
		<input type="checkbox" name="complete_video_videographer" id="complete_video_videographer" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_video_videographer">
		<br />
		<textarea cols="40" rows="5" name="video_storyboard" id="video_storyboard"></textarea>
		<input type="checkbox" name="complete_video_storyboard" id="complete_video_storyboard" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_video_storyboard">
		<br />
		<textarea cols="40" rows="5" name="video_filming" id="video_filming"></textarea>
		<input type="checkbox" name="complete_video_filming" id="complete_video_filming" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_video_filming">
		<br />
		<textarea cols="40" rows="5" name="video_editing" id="video_editing"></textarea>
		<input type="checkbox" name="complete_video_editing" id="complete_video_editing" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_video_editing">
		<br />
		<textarea cols="40" rows="5" name="video_sharing" id="video_sharing"></textarea>
		<input type="checkbox" name="complete_video_sharing" id="complete_video_sharing" value="complete">Task Completed!
		<input type="submit" value="Save" id="submit_video_sharing">
	</form>

</body>
</html>