<div id="main-content" class="mountain-bg">

  <div id="taskpage-default">
    <p class="quote">Twenty years from now, you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails.<br />Explore. Dream. Discover.</p>
    <p class="quote-attribute">- Mark Twain</p>
  </div>

  <div class="taskpage">
    <div id="taskpage-story-main" class="taskpage-subtask">
      <div class="overview">
        <h2>Your Story</h2>
        <p>"Story is everything. Let me back up. Your story is everything. People aren't so much getting behind the idea as they are getting behind your passion to produce it... It HAS to have heart,"says Nathaniel Hansen, an indie filmmaker who has raised over $350,000 on Kickstarter to date. People aren't going to give you money because you think it would be cool to get paid to make a movie or design a magazine. You need to convince people with a purpose, a larger vision, or -- at the very least -- a lot of passion. Explain why the world needs your project now.</p>
      </div>
      <div class="form-display">

      </div>
    </div>

    <div id="taskpage-story-long" class="taskpage-subtask">
      <div class="overview">
        <h2>The long description</h2>
        <p>Take your story and expand on it to inclue the PROCESS of HOW you will create your product/service. These details aren't always sexy, but they are SUPER important and people checking out your product will want to know the details. So tell them.</p>
      </div>
      <div class="form-display">

      </div>
    </div>

    <div id="taskpage-story-email" class="taskpage-subtask">
      <div class="overview">
        <h2>Email Pitch</h2>
        <p>Here's his guide to the perfect pitch:
          <ol>
            <li>Introduce the project and briefly describe why you're writing</li>
            <li>Add a link early on</li>
            <li>Further describe why you're writing</li>
            <li>Explain how you want the blogger to help</li>
            <li>Provide a little bit more info on the project</li>
            <li>End strong with a final link and generous thanks.</li>
          </ol>
        </p>
      </div>
      <div class="form-display">

      </div>
    </div>

    <div id="taskpage-story-edit-content" class="taskpage-subtask">
      <div class="overview">
        <h2>Edit Content</h2>
        <p>Editing your own content is a necessity. But if you can find a second pair of eyes to look at the TECHNICAL aspects of your writing (grammar, length, etc.), that's even better.</p>
      </div>
      <div class="form-display">

      </div>
    </div>

    <div id="taskpage-story-perspective" class="taskpage-subtask">
      <div class="overview">
        <h2>Outside perspective</h2>
        <p>Have 3 other people read what you've written and give you honest feedback.</p>
      </div>
      <div class="form-display">

      </div>
    </div>
  </div>
<%= render 'form_task' %>
</div>