
<div id="container-top">
  <h1 class="orange">preKix</h1>
  <div id="progress-bar-main"></div>
  <div id="flag">Needs Data</div>
</div><!-- end container-top -->

<div id="container">

  <%= render "sidebar" %>

  <%= render "main_content" %>

</div><!-- end container -->

<%= render "footer" %>

