@charset "UTF-8";

/* Kix Styling */

.green { background-color: #1abc9c; }

.center { text-align: center; }

.orange { color: #e67e22; }

.cf { zoom: 1; }

.cf:before,

.cf:after { content: ""; display: table; }

.cf:after { clear: both; }

.btn { margin-top: 10px;}


/****** Structural ******/

#container {
  margin: 50px auto 0 auto;
  width: 300px;
}

#container-top {
  background-color: #ecf0f1;
  width: 100%;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  padding: 20px 20px 0 20px;
  clear: both;
  /*border: 1px solid red;*/
}

#container-bot {
  background-color: #ecf0f1;
  width: 100%;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  padding: 0 20px 10px 20px;
  clear: both;
  /*border: 1px solid blue;*/
}

#container-big {
  margin: 50px auto;
  width: 500px;
}

#container-big #container-top h1, {
  text-align: center;
}

#videohere {
  background: #000;
  width: 460px;
  height: 300px;
  margin: 0 auto;
}

#footer p {
  margin-top: 8px;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  color: #f7c79c;
}

#footer #copyright {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 0.75em;
  color: #e5e5e5;
  letter-spacing: 1px;
}

#footer {
  width: 100%;
  background: #16a085;
  height: 35px;
  margin: 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  opacity:0.95;
  filter:alpha(opacity=95); /* For IE8 and earlier */
}