@charset "UTF-8";

/* Import Bootstrap and Flat UI Stylesheets */

/*@import url("bootstrap.css");
@import url("flat-ui.css");*/


/* Kix Styling */

.green { background-color: #1abc9c; }

.center { text-align: center; }

.orange { color: #e67e22; }

.cf { zoom: 1; }

.cf:before,

.cf:after { content: ""; display: table; }

.cf:after { clear: both; }

.btn { margin-top: 10px;}


/****** Structural ******/

#container {
	margin: 50px auto 0 auto;
	width: 300px;
}
#container-top {
	background-color: #ecf0f1;
	width: 100%;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	padding: 20px 20px 0 20px;
	clear: both;
	/*border: 1px solid red;*/
}
#container-mid {
	background-color: #16a085;
	width: 100%;
	padding: 20px 20px 10px 20px;
	clear: both;
	text-align: center;
	color: #fff;
	font-size: 1.3em;
}
#container-bot {
	background-color: #ecf0f1;
	width: 100%;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	padding: 0 20px 10px 20px;
	clear: both;
	/*border: 1px solid blue;*/
}
#container-big {
	margin: 50px auto;
	width: 500px;
}
#container-big #container-top h1, {
	text-align: center;
}
#videohere {
	background: #000;
	width: 460px;
	height: 300px;
	margin: 0 auto;
}
#footer p {
	margin-top: 8px;
}
#footer a {
	color: #fff;
	text-decoration: none;
}
#footer a:hover {
	color: #f7c79c;
}
#footer #copyright {
	position: absolute;
	right: 30px;
	top: 10px;
	font-size: 0.75em;
	color: #e5e5e5;
	letter-spacing: 1px;
}

/****** Task Page Structure *******/

#tasks-home #container {
	background: url(image-path('bg-blueside.gif')) repeat-y;
	margin: 0 auto;
	width: 960px;
}

#tasks-home #container-top {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	background-color: #ecf0f1;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	clear: both;
	height: 60px;
	width: 940px;
	padding: 15px 0 5px 20px;
	background: url(image-path('progress-bar.png')) no-repeat right;
	background-color: #ecf0f1;
}

#tasks-home #main-content {
	width: 100%;
	min-height: 635px;
	margin: 0;
	padding: 40px 20px;
	background: url(image-path('mountain.png')) no-repeat;
	background-size: 100%;
	width: 600px;
	margin-left: 320px;
	background-color: #95a5a6;
}

#sidenav {
	width: 320px;
	background: #2c3e50;
	min-height: 640px;
	float: left;
}
#sidenav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#flag {
	width: 127px;
	height: 32px;
	float: right;
	background: url(image-path('days-left-flag.png')) no-repeat right center;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 0 0 30px;
	margin-top: 6px;
	position: relative;
	z-index: 2;
}

#progress-bar-main{
	width: 0;
	height: 38px;
	background-color: #f39b3a;
	border-radius: 999px;
	position: absolute;
	margin: 0; padding: 0;
	margin-top:6px;
	margin-left:327px;
	left:0;
	z-index: 1;
}

#footer {
	width: 100%;
	background: #16a085;
	height: 35px;
	margin: 0;
	position: fixed;
	bottom: 0;
	text-align: center;
	opacity:0.95;
	filter:alpha(opacity=95); /* For IE8 and earlier */
}
/****** Main Task List Styles ******/

li.cats {
	color: #fff;
	font-weight: bold;
	position: relative;
}

.cat-button{
	font-size: 1.6em;
	letter-spacing: 1px;
	background: #34495e;
	border: 2px solid #2c3e50;
	height: 60px;
	padding: 15px 0px 0px 20px;
	display: block;
}

.cat-button.select{
	background: #2c3f4e;
}

ul.dotted li {
	list-style: none;
	color: #2c3e50;
	float: left;
	width: 47px;
	height: 30px;
	padding: 10px 0 0 0;
	margin: 0;
	font-size: 1.4em;
	background-image: url(image-path('badge-off.png')) middle no-repeat;
}

.dotted .select{
	color: #33495e;
}

.dotted .complete{
	color: #f39b3a;
}

.badge-incomplete {
	position: absolute;
	right: 13px;
	top: 8px;
}

/****** Sub Task List Styles ******/
.sub-tasks{
	background-color: #15bc9d;
	margin-left: 2px !important;
	display: block;
}
.sub-task{
	position: relative;
	color: #15bc9d;
	font-size: 1.3em;
	letter-spacing: 1px;
	background: #34495e;
	border: 1px solid #2c3e50;
	border-left: 3px solid #2c3e50;
	padding: 10px 0 10px 5px;
	display: block;
	margin-left: 7px;
}

.sub-task span{

}

.sub-task strong{
	text-align: center;
	font-size: 1.3em;
	border-radius: 999px;
	line-height: 1.2em;
	width: 1.2em;
	height: 1.2em;
	margin-right: 10px;
	margin-top: -.15em;
	background-color: #2c3f4e;
	display: inline-block;
}

.sub-task.select{
	color: #fff;
	background-color: #f39b3a;
}

.sub-task .sub-badge{
	position: absolute;
	right:20px;
	top:50%;
	margin-top: -17px;
	width: 34px;
	height: 34px;
}

.sub-task .incomplete{
	background: url(image-path('badges/subtask/incomplete.png'));
}

.sub-task .complete{
	background: url(image-path('badges/subtask/complete.png'));
}
.sub-task .complete.select{
	background: url(image-path('badges/subtask/complete-select.png'));
}


/****** Text Elements ******/

#index h1, #loginpg h1, #signupnow h1 {
	float: left;
	width: 160px;
	font-size: 2.6em;
	margin: 15px 20px 0 0;
	display: inline;
}
#deadline h1 {
	font-size: 2.8em;
}
#deadline h2 {
	margin-bottom: 20px;
	line-height: 0.8em;
}
#tasks-home #container-top h1 {
	font-size: 3em;
	width: 700px;
	float: left;
}
#loginpg #container-top h2 {
	font-size: 2.2em;
	text-align: center;
}
p.quote {
	font-size: 1.7em;
	font-style: italic;
	color: #6e7780;
	padding: 0 15px;
	margin: 0px;
}
p.quote-attribute {
	font-size: 1.3em;
	color: #6e7780;
	padding: 20px;
}


/****** Form Styling ******/

input.span3 {
	width: 95%;
	font-size: 1.4em;
	color: #cccccc;
	/*border: 1px solid red;*/
}
input.span3#date {
	width: 200px;
	height: 1.1em;
	font-size: 2.5em;
	text-align: center;
	margin: 5px 20px 20px 0;
}
#login {
  width: 140px;
  float: left;
  display: inline;
  margin: -3px 20px 10px 0;
}
#signup {
  width: 140px;
  float: left;
  display: inline;
  margin: -3px 0 10px 0;
}


/****** Images ******/

#clipboard {
	float:left;
	margin: 0 20px 20px 0;
	display: inline;
}
img#cal {
	width: 60px;
	margin: 0 0 15px 0;
}









