<!DOCTYPE html>

<html>

    <head>
        <title>Prekix | Get ready for Kickstarter success!</title>
       <!--  <link href="css/kix-styles.css" rel="stylesheet" type="text/css"> -->
        <%= stylesheet_link_tag    "application_tasks", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>

    <body id="tasks-home" class="green">

 				<%= yield %>

    </body>

</html>